<h1>User Bookmarks</h1>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui segment">
      <h2><a href="http://boards.dawgrun.com/message_board/georgia/">Dawg Run</h2> 
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui segment">
      <h2><a href="http://www.gamespot.com/articles/monster-hunting-game-evolve-gets-some-cool-3d-prin/1100-6421002/">Evolve</h2> 
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui segment">
      <h2><a href="http://singularityhub.com/2014/06/25/robotic-hand-uses-ai-to-specialize-its-grip-for-any-object/">Robot hand</h2> 
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui segment">
      <h2><a href="https://news.ycombinator.com/">Hacker News</h2> 
    </div>
  </div>
</div>


