<h1>Bookmark Topics</h1>

<div class="bookmark1">
<h2>#sports</h2> 
<div style="display: inline"><span1> X </span1></div>
</div>


<div class="bookmark2">
<h2>#games</h2>
<div style="display: inline"><span2> X </span2></div>
</div>
