<h1>Bookmark Topics</h1>
<% @topic.each do |topic| %>
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui segment">
        <h2><%=link_to topic.title, topic %></h2> 
      </div>
    </div>
  </div>
<% end %>