<div class="welcome">
  <div class="massive ui circular basic animated fade button">
    <div class="visible content">Welcome!</div>
    <div class="hidden content"><%= link_to "to flurBoo!", new_user_path %></div>
  </div>
</div>
