
<% if current_user %>
<div class="welcome">
  <div class="massive ui circular basic animated fade button">
    <div class="visible content">Welcome!</div>
    <div class="hidden content"><%= link_to "to flurBoo!", topics_path %></div>
  </div>
</div>
<% else %>
  <div class="welcome">
  <div class="massive ui circular basic animated fade button">
    <div class="visible content">Welcome!</div>
    <div class="hidden content"><%= link_to "to flurBoo!", login_path %></div>
  </div>
</div>
<% end %>
