@import "semantic-ui";
@import url(http://fonts.googleapis.com/css?family=Nunito:400,700|Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import "font-awesome";

body {
  background:url('stardust.png');
  background-size: cover;
}

html, body {
  font-family: 'Press Start 2P', cursive;
}


.welcome {
  padding: 150px 250px;
  margin: 20px 140px 50px 10px;
  background-color: #333333;
  border-radius: 50;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border: 30px solid;
  border-color: #FF0000;
  z-index: -1;
}

.signup {
  padding: 100px 100px 100px 100px;
  margin: 40px 280px 20px 100px;
  background-color: #333333;
  border-radius: 50;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border: 30px solid;
  border-color: #FF0000;
  color: #808080;
  text-align: center;

    h1 {
  font-size: 2em;
  text-align: center;
  margin: 10px 0px 20px 0px;
  text-shadow: 0 10px 3px rgba(0,0,0,.2);
}
}

.login {
  padding: 100px 100px 100px 100px;
  margin: 40px 280px 20px 100px;
  background-color: #333333;
  border-radius: 50;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border: 30px solid;
  border-color: #FF0000;
  color: #808080;
  text-align: center;
  font-size: 0.75em;

  h1 {
  font-size: 2em;
  text-align: center;
  margin: 10px 0px 20px 0px;
  text-shadow: 0 10px 3px rgba(0,0,0,.2);
}

}

.massive.ui.circular.basic.animated.fade.button {
  font-size: 5em;
  margin: 0px 0px 10px -120px;
}

.ui.icon.button:hover {
  background: #808080;
  color: black;
}


/* how do I make description text appear when hovering over each icon? */
/* .ui.icon.button:hover { */
/*  display: text; */
/* } */

.cred_btns {
  margin: pull-left;
  }

h1 {
  font-size: 2em;
  text-align: center;
  margin: 20px 0px 0px 0px;
  text-shadow: 0 10px 3px rgba(0,0,0,.2);
}


a {
  color: #FFD83A;
  text-decoration: none;
  font-weight: 0;
}



.ui.grid {
  display: inline-block;
  color: black;
  line-height: 1;
}

.ui.segment {
  background: none;
  width: 200px;
  -moz-box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  margin-top:3em;
  height:200px;
  position: relative;
  font-weight: 300;
  font-size: 0.85em;
  text-shadow: 0px 5px 2px rgba(0,0,0,.2);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  z-index: 1;

    a:hover {
    color: #FF650C;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.5em;
    z-index: 2;
  }
}



